.btnAddWrapp {
  width: 56px;
  position: fixed;
  z-index: 5;
  right: 16px;
  bottom: 16px;
}


.iconAdd {
  width: 45px;
  height: 45px;
  color: #000000;
  display: block;
  pointer-events: none;
  line-height: 1;
  background: none;
  margin: 0;
  padding: 0;
}

.iconWrapp {
  width: 56px;
  height: 56px;
  color: #081222;
  background-color: #508f8c;
  border-radius: 100%;
  padding: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {

  /* .btnAddWrapp {

    margin-top: -72px;
    margin-right: 16px;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    /* bottom: 40px;
    right: 16px; */
  .btnAddWrapp {
    position: absolute;
    right: 16px;
    bottom: 16px;
  }
}


@media screen and (min-width: 1280px) {
  .btnAddWrapp {
    right: 16px;
    bottom: 16px;
  }

}