.btnAddWrapp {
  width: 56px;
  position: fixed;
  z-index: 5;
  right: 16px;
  bottom: 16px;
}

.iconWrapp {
  width: 56px;
  height: 56px;
  color: #081222;
  background-color: var(--modal-color);
  border-radius: 100%;
  padding: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.2);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.iconWrapp:hover,
.iconWrapp:focus {
  transform: scale(1.04);
  border: 2px solid var(--white-color);
}

.iconAdd {
  width: 26px;
  height: 26px;
  color: var(--text-color);
  display: block;
  line-height: 1;
  background: none;
  margin: 0;
  padding: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.iconAdd:hover,
.iconAdd:focus {
  color: var(--white-color);
}
@media screen and (min-width: 768px) {
  /* .btnAddWrapp {

    margin-top: -72px;
    margin-right: 16px;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    /* bottom: 40px;
    right: 16px; */
  .btnAddWrapp {
    position: absolute;
    right: 16px;
    bottom: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .btnAddWrapp {
    right: 16px;
    bottom: 16px;
  }
}
