.balance {
    color: #fcfcfc;
    @media (max-width: 1280px) {
        background: linear-gradient(180deg, #355359 0%, #3b5d63 100%);
        border-radius: 16px;
        padding: 38px 16px;
        width: 338px;
        height: 143px;
    };
    @media (max-width: 768px) {
        padding: 24px 16px;
        width: 288px;
        height: 115px;
        margin-bottom: 24px;
    }
}

.title {
    font-size: 12px;
    text-transform: uppercase;
    opacity: 0.7;
    @media (max-width: 1280px) {
        opacity: 0.4;
    }
}

.amount {
    font-weight: 700;
    font-size: 30px;
}