/* .div {
  margin-bottom: 30px;
  width: 230px;
  margin-left: auto;
  margin-right: auto;
}
.formWrapper {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
/* border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  width: 215px; */
/* }
.label {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  margin-left: 0;
  font-size: 16px;
  text-align: left;
  color: black;
} */
/* .input {
  margin-bottom: 10px;
  font-size: 12px;
}
.button {
  border: 1px solid black;
  width: 130px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  font-size: 16px;
} */

/* .wallet {
  position: absolute;
  bottom: 35px;
  right: 16px;
  width: 320px;
  height: auto;
  @media (max-width: 768px) {
    width: 250px;
  }
  @media (max-width: 480px) {
    width: 200px;
    bottom: 20px;
    right: 10px;
  }
  @media (max-width: 320px) {
    width: 150px;
    bottom: 15px;
    right: 5px;
  }
} */
.div {
  margin-bottom: 30px;
  /* width: 230px; */
  margin-top: 100px;
}
.formWrapper {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  border: 2px solid rgb(168, 53, 53);
  border-radius: 5px;
  padding: 10px;
  width: 533px;
  margin-left: auto;
  margin-right: auto;
}

.wallet {
  position: absolute;
  bottom: 35px;
  right: 16px;
  width: 320px;
  height: auto;
}
.label {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-left: 0;
  font-size: 16px;
  text-align: left;
  border-color: rgb(168, 53, 53);
  color: rgb(168, 53, 53);
  font-weight: 600;
}
/* .input {
    margin-bottom: 10px;
    font-size: 12px;
  } */
.input {
  margin-bottom: 10px;
  height: 25px;
  font-size: 14px;
  padding: 2px;

  background-color: rgb(250, 238, 238);
  /* border-color: rgb(168, 53, 53); */
  border: 1px solid rgb(168, 53, 53);
  border-radius: 5px;
}
.input:hover {
  border: 2px solid rgb(54, 32, 4);
}
/* .button {
    border: 1px solid black;
    width: 130px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 16px;
  } */
.button {
  border: 1px solid rgb(168, 53, 53);
  width: 150px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  font-size: 16px;
  color: rgb(168, 53, 53);
  font-weight: 600;
  margin-bottom: 20px;
}
.button:hover {
  border: 2px solid rgb(54, 32, 4);
  background-color: rgb(250, 238, 238);
  color: rgb(168, 53, 53);
}
.text {
  text-align: center;
  font-size: 14px;
  color: rgb(168, 53, 53);
}
.link {
  color: rgb(54, 32, 4);
  font-weight: 500;
}
