.div {
  width: 1280px;
  height: 720px;
}
.formWrapper {
  padding: 53px 62px 82px 62px;
}
.logo {
  margin-bottom: 37px;
}
.wallet {
  position: absolute;
  bottom: 35px;
  right: 16px;
  width: 320px;
  height: auto;
}

.pwdConfContainer {
  margin-top: 24px;
  margin-bottom: 20px;
}

.input {
  margin-left: 40px;
}

.button {
  width: 410px;
  margin-top: 36px;
  margin-bottom: 21px;
  font-weight: bold;
}

.link {
  width: 410px;
}
