.Backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(46, 47, 66, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  background-color: #508f8c;
  border-radius: 16px;
  padding: 136px 16px 32px 16px;
  width: 287px;
  max-height: 360px;
  position: relative;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(53, 83, 89, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  border-radius: inherit;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  margin-top: -16px;
}

.closeBtn {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 16px;
  height: 16px;
  display: block;
  padding: 0;
  background-color: transparent;
}

.closeIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #000;
}

.inputBox {
  margin-bottom: 16px;
}

.input {
  border-radius: 8px;
  padding: 10px 14px;
  width: 255px;
  height: 42px;
  background-color: transparent;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  color: #081222;
  border: 1px solid #081222;
  outline: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:hover,
.input:focus {
  color: #3b5d63;
  border-color: #3b5d63;
}

.avatar {
  width: 68px;
  height: 68px;
  padding: 0;
  display: flex;
  border: none;
  background-color: #6c3db5;
  font-family: inherit;
  color: #e9a949;
  border-radius: 8px;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
}

.avatarImage {
  width: 68px;
  height: 68px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  position: absolute;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
}

.saveBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 255px;
  outline: none;
  font-family: inherit;
  padding: 10px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #fcfcfc;
  border-radius: 8px;
  /* background-color: #355359;
  border: 1px solid #355359;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
  background: linear-gradient(180deg, #355359 0%, #3b5d63 100%);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.saveBtn:hover {
  /* background-color: transparent;
  border: 1px solid #081222;
  color: #081222; */
  transform: scale(1.04);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.valid {
  border-color: #0b6016;
  color: #0b6016;
}

.invalid {
  border-color: #b20202;
  color: #b20202;
}

.error {
  margin-top: 4px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: #b20202;
}

.uploadButton {
  position: absolute;
  top: 87px;
  left: 50%;
  transform: translateX(-50%);
  width: 24px;
  height: 24px;
  border-radius: 6px;
  background-color: #0b6016;
  color: #fcfcfc;
  font-size: 7px;
  line-height: 7px;
  text-align: center;
  cursor: pointer;
  z-index: 2;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.uploadButton:hover,
.uploadButton:focus {
  box-shadow: 0 0 10px rgba(15, 9, 26, 0.6);
}

.fileInput {
  display: none;
}

.plusIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  stroke: #fff;
}

@media screen and (min-width: 768px) {
  .modal {
    padding: 170px 32px 64px 32px;
    width: 458px;
    max-height: 426px;
  }

  .avatar {
    top: 64px;
  }

  .avatarImage {
    top: 64px;
  }

  .closeBtn {
    top: 24px;
    right: 24px;
  }

  .input {
    width: 394px;
    height: 42px;
  }

  .saveBtn {
    width: 394px;
  }

  .uploadButton {
    top: 119px;
  }
}
