.addModalWrapp {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  width: 540px;
  padding: 40px 0 48px;
  background: #508f8c;
}

.typeTransaction {
  display: flex;
  align-items: center;
  height: 44px;
  gap: 20px;
  margin-bottom: 32px;
}

.addTransaction {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
}

.closeIconBtn {
  display: none;
}

.closeIcon {
  display: none;
}

.income {
  font-weight: 600;
  font-size: 16px;
  color: #081222;
  transition: color 0.3s ease;
}

.btnTypeWrapp {
  border-radius: 30px;
  width: 80px;
  height: 40px;
  background-color: #fcfcfc;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

.btnType {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  padding: 0;
  background-color: #ffb627;
  border-radius: 100%;
}

.btnType svg {
  width: 30px;
  height: 30px;
  color: #fcfcfc;
}

.btnType:focus,
.btnType:focus-visible {
  outline: none;
}

.expenseActive {
  justify-content: flex-end;
}

.btnTypeExpense {
  background-color: #B20202;
}

.expense {
  font-weight: 600;
  font-size: 16px;
  color: #081222;
  transition: color 0.3s ease;
}

.active {
  color: #081222;
}

.activeExpense {
  color: #081222;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.tabletWrap {
  display: flex;
  gap: 24px;
}

.money {
  border-radius: 8px;
  border: 2px solid #3b5d63;
  padding: 10px 14px;
  width: 193px;
  height: 42px;
  background: transparent;
}

.money:hover,
.money:focus,
.money:active,
.comment:hover,
.comment:focus,
.comment:active,
.dateWrapp:hover,
.dateWrapp:active {
  outline: none;
  border: 2px solid #d8dfe1;
}


.closeButton {
  position: absolute;
  top: 10px;
  /* Смещаем ближе к краю */
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--text-color);
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.closeButton:hover {
  color: var(--red-color);
}



.money::placeholder {
  color: #3b5d63;
  opacity: 1;
  font-weight: 500;
  font-size: 18px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.errMoney {
  color: red;
  margin: 0;
  padding: 0;
  padding-left: 10px;
}

.dateWrapp {
  border-radius: 8px;
  border: 2px solid #3b5d63;
  padding: 10px 14px;
  height: 42px;
  width: 193px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date {
  border: none;
  font-weight: 500;
  font-size: 18px;
  width: 100%;
  padding: 0 30px 0 0;
  width: 100%;
  color: #081222;
  background-color: transparent;
  box-sizing: border-box;
}

.date:focus {
  outline: none;
  outline: none;
}

.calendarIcon {
  fill: #081222;
  height: 24px;
  width: 24px;
  pointer-events: none;
}

.comment {
  border-radius: 8px;
  border: 2px solid #3b5d63;
  padding: 10px 14px;
  width: 409px;
  height: 42px;
  background: transparent;


}

.comment::placeholder {
  color: #3b5d63;
  opacity: 1;
  font-weight: 500;
  font-size: 18px;
}

.btnWrapp {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.btnAdd {
  color: #FCFCFC;
  border-radius: 8px;
  padding: 11px 79px;
  width: 410px;
  height: 44px;
  background: linear-gradient(180deg, #355359 0%, #3b5d63 100%);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btnAdd:hover {
  transform: scale(1.04);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.btnCancel {
  border: 1px solid #081222;
  border-radius: 8px;
  padding: 11px 68px;
  width: 410px;
  height: 44px;
  background: transparent;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btnCancel:hover {
  transform: scale(1.04);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.backdrop {
  position: fixed;
  top: 52px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow-y: auto;
}



@media screen and (max-width: 767px) {

  .addModalWrapp {
    padding: 40px 8px 24px 8px;
    width: 287px;
  }

  .addTransaction {
    margin-bottom: 30px;
  }

  .form {
    width: 271px;
    gap: 12px;
  }


  .tabletWrap {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .money {
    width: 271px;
  }

  .dateWrapp {
    width: 271px;
  }

  .comment {
    width: 271px;
    margin-bottom: 18px;
  }

  .btnAdd {
    width: 271px;
  }

  .btnCancel {
    width: 271px;
  }

}