.Backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(46, 47, 66, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  border-radius: 16px;
  padding: 16px;
  width: 280px;
  background-color: var(--modal-color);
  animation: fadeIn 300ms ease-in-out;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0px;
  width: 248px;
}

.logoIcon {
  width: 54px;
  height: 54px;
}

.textLogo {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: var(--text-color);
  user-select: none;
}

.text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  width: 196px;
  color: var(--text-color);
}

.buttons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  width: 248px;
}

.logoutBtn,
.cancelBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  border-radius: 8px;
  padding: 11px 79px;
  width: 248px;
  height: 44px;
  background: var(--primary-gradient);
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: var(--white-color);
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logoutBtn:hover,
.logoutBtn:focus {
  background: none;
  border: 1px solid var(--text-color);
  color: var(--text-color);
}

.cancelBtn {
  border: 1px solid var(--text-color);
  background: none;
  color: var(--text-color);
}

.cancelBtn:hover,
.cancelBtn:focus {
  background-color: var(--white-color);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 533px;
    padding: 53px;
    gap: 0;
  }

  .logoIcon {
    width: 294px;
  }

  .textLogo {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 38px;
  }

  .text {
    width: 294px;
    margin-bottom: 24px;
  }

  .buttons {
    align-items: center;
    width: 410px;
    gap: 21px;
  }
}

@media screen and (min-width: 1280px) {
}
