.mobileWrapperTransaction {
    display: flex;
    flex-direction: column;
    padding: 0px;
    background-image: linear-gradient(180deg, #355359 0%, #3b5d63 100%);
    border-radius: 8px;
    margin-bottom: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    padding-left: 5px;
}

.mobileWrapperTransaction[data-type="+"]::before {
    background-color: var(--chart-green);
}

.mobileWrapperTransaction[data-type="-"]::before {
    background-color: var(--main-yellow);
}

.mobileWrapperTransaction::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    z-index: 1;
}

.mobileRow {
    display: flex;
    justify-content: space-between;
    padding: 12px 17px 12px 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: var(--main-white);
    font-size: 16px;
    box-sizing: border-box;

}

.mobileRow:last-of-type {
    border-bottom: none;
}

.label {
    font-weight: 600;
    flex-basis: 40%;
    text-align: left;
}

.value {
    flex-basis: 60%;
    text-align: right;
    font-weight: 400;
}

.sumRow .value {
    font-size: 1.1em;
}

.sumIncome {
    color: var(--chart-green);
    font-weight: 600;
}

.sumExpense {
    color: var(--main-yellow);
    font-weight: 600;
}

.icon {
    width: 14px;
    height: 14px;
    cursor: pointer;
    transition: fill 0.2s ease-in-out;
}

.mobileActions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.btnDelete {
    border: 1px solid var(--main-white);
    border-radius: 8px;
    padding: 4px 12px;
    width: 68px;
    height: 25px;
    background-color: transparent;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: var(--main-white);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.btnDelete:hover,
.btnDelete:active,
.btnDelete:focus {

    font-weight: 500;
    transform: scale(1.04);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.btnEdit {
    display: flex;
    gap: 4px;
    align-items: center;
    border: none;
    background-color: transparent;
    color: var(--main-white);
}

.btnEdit .icon {
    width: 14px;
    height: 14px;
    transition: fill 0.2s ease-in-out;
}

.btnEdit:hover .icon {
    width: 15px;
    height: 15px;
}

.btnEdit:hover {
    font-weight: 500;
    transform: scale(1.04);
}

@media screen and (min-width: 768px) {
    .wrapperTransaction {
        background-color: transparent;
        border-radius: 16px;
        position: relative;
        overflow: hidden;
        padding-left: 5px;
    }

    .wrapperTransaction:nth-child(2n) {
        background-image: var(--background-gradient);
    }

    .transaction {
        display: flex;
        height: 48px;
        align-items: center;
    }

    .transaction li {
        text-align: left;
        font-weight: 400;
        font-size: 14px;
        color: #fcfcfc;
        font-family: "Inter", sans-serif;
        padding: 15.5px 12px 15.5px 8.5px;
    }

    .transaction li:nth-child(1) {
        width: 64px;
        padding-left: 15px;
    }

    .transaction li:nth-child(2) {
        width: 147px;
        text-align: center;
    }

    .transaction li:nth-child(3) {
        width: 124px;
    }

    .transaction li:nth-child(4) {
        width: 142px;
    }

    .transaction li:nth-child(5) {
        width: 100px;
    }

    .transaction li:nth-child(6) {
        width: 115px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 11.5px 12px 11.5px 4px;
    }

    .icon {
        width: 14px;
        height: 14px;
        cursor: pointer;
    }

    .icon:hover,
    .icon:active {
        transform: scale(1.07);
    }

    .btnDelete {
        background-color: transparent;
        border: 1px solid #fcfcfc;
        border-radius: 8px;
        padding: 4px 12px;
        width: 67px;
        height: 25px;
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        color: #fcfcfc;
    }

    .wrapperTransaction:nth-child(2n) {
        background-image: var(--background-gradient);
    }
}