@media screen and (max-width: 767px) {
  .statistics {
    display: flex;
    border-radius: 16px;
    padding: 16px 12px;
    background: linear-gradient(180deg, #355359 0%, #3b5d63 100%);
    flex-direction: column;
    width: 288px;
    min-height: 741px;
  }

  .pStatistics {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    color: #fcfcfc;
    gap: 20px;
  }

  .firstBlock {
    display: flex;
    gap: 32px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }

  .secondBlock {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }

  .selectBlock {
    display: flex;
    gap: 20px;
  }

  .spanStatistic {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border-radius: 2px;
  }

  .tableStatistics {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
  }

  .theadStatistics {
    border-radius: 8px;
    background: linear-gradient(180deg, #294045 0%, #1e2f33 100%);
    color: #fcfcfc;
  }

  .thStatistics {
    border-radius: 8px;
    padding: 12px 16px;
    font-weight: 600;
    font-size: 16px;
    text-align: right;
  }

  .tdStatistics {
    display: flex;
    font-weight: 400;
    font-size: 14px;
    color: #fcfcfc;
    align-items: center;
  }

  .trStatistics::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: var(--main-white);
    opacity: 0.2
  }

  .trhStatistics {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .trStatistics {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .tbodyStatistics {
    display: flex;
    flex-direction: column;
    gap: 29px;
    padding-top: 19px;
  }

  .tdfStatistics {
    font-weight: 400;
    font-size: 14px;
    color: #fcfcfc;
    align-items: center;
  }

  .tfootStatistics {
    display: flex;
    justify-content: space-between;
    padding-top: 28px;
  }

  .noDataContainer {
    font-weight: 600;
    font-size: 25px;
    color: #fcfcfc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .statistics {
    display: flex;
    border-radius: 16px;
    padding: 16px 16px;
    background: linear-gradient(180deg, #355359 0%, #3b5d63 100%);
    justify-content: space-between;
    min-height: 540px;
  }

  .pStatistics {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    text-align: right;
    color: #fcfcfc;
    gap: 15px;
  }

  .firstBlock {
    display: flex;
    gap: 32px;
    flex-direction: column;
    align-items: center;
    width: 288px;
    margin-right: 60px;
  }

  .secondBlock {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }

  .selectBlock {
    display: flex;
    gap: 20px;
  }

  .spanStatistic {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 20px;
    border-radius: 2px;
  }

  .tableStatistics {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
  }

  .theadStatistics {
    border-radius: 8px;
    background: linear-gradient(180deg, #294045 0%, #1e2f33 100%);
    color: #fcfcfc;
  }

  .thStatistics {
    border-radius: 8px;
    padding: 16px 28px;
    font-weight: 600;
    font-size: 16px;
    text-align: right;
  }

  .tdStatistics {
    display: flex;
    font-weight: 400;
    font-size: 14px;
    color: #fcfcfc;
    align-items: center;
  }

  .trStatistics::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: var(--main-white);
    opacity: 0.2;
  }

  .trhStatistics {
    display: flex;
    justify-content: space-between;
  }

  .trStatistics {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 0 24px 0 16px;
  }

  .tbodyStatistics {
    display: flex;
    flex-direction: column;
    gap: 29px;
    padding-top: 19px;
  }

  .tdfStatistics {
    font-weight: 400;
    font-size: 14px;
    color: #fcfcfc;
    align-items: center;
  }

  .tfootStatistics {
    display: flex;
    justify-content: space-between;
    padding-right: 23px;
    padding-left: 16px;
    padding-top: 28px;
  }

  .noDataContainer {
    font-weight: 600;
    font-size: 32px;
    color: #fcfcfc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

@media screen and (min-width: 1280px) {
  .statistics {
    display: flex;
    border-radius: 16px;
    padding: 16px 26px 16px 32px;
    background: linear-gradient(180deg, #355359 0%, #3b5d63 100%);
    width: 757px;
    min-height: 582px;
  }

  .pStatistics {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    text-align: right;
    color: #fcfcfc;
    gap: 20px;
  }

  .firstBlock {
    display: flex;
    gap: 32px;
    flex-direction: column;
    align-items: center;
    margin-right: 16px;
  }

  .secondBlock {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    width: 395px;
  }

  .selectBlock {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 395px;
  }

  .spanStatistic {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 24px;
    border-radius: 2px;
  }

  .tableStatistics {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .theadStatistics {
    border-radius: 8px;
    background: linear-gradient(180deg, #294045 0%, #1e2f33 100%);
    color: #fcfcfc;
  }

  .thStatistics {
    border-radius: 8px;
    padding: 16px 28px;
  }

  .tdStatistics {
    display: flex;
    font-weight: 400;
    font-size: 14px;
    color: #fcfcfc;
    align-items: center;
  }

  .trhStatistics {
    display: flex;
    justify-content: space-between;
  }

  .trStatistics::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: var(--main-white);
    opacity: 0.2;
  }

  .trStatistics {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 0 29px 0 20px;
  }

  .tbodyStatistics {
    display: flex;
    flex-direction: column;
    gap: 29px;
  }

  .tfootStatistics {
    display: flex;
    justify-content: space-between;
    padding-right: 29px;
    padding-left: 28px;
  }

  .noDataContainer {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 32px;
    color: #fcfcfc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
  }
}

.statistics {
  position: relative;
}

.income {
  transition: transform 0.9s ease;
}

.income:hover {
  transform: scale(1.1);
  animation: shimmer 2s linear infinite;
  background: linear-gradient(90deg, #00ff7f, #32cd32, #00ff7f);
  background-size: 200% auto;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.expense {
  transition: transform 0.9s ease;
}

.expense:hover {
  transform: scale(1.1);
  animation: shimmer 2s linear infinite;
  background: linear-gradient(90deg, #ff4d4d, #ff0000, #ff4d4d);
  background-size: 200% auto;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

@keyframes shimmer {
  0% {
    background-position: 0% center;
  }

  100% {
    background-position: 200% center;
  }
}