.statistics {
  display: flex;
  border-radius: 16px;
  padding: 16px 32px;
  background: linear-gradient(180deg, #355359 0%, #3b5d63 100%);
}
.pStatistics {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  text-align: right;
  color: #fcfcfc;
}
.firstBlock {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
}
.secondBlock {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
}
.selectBlock {
  display: flex;
  gap: 20px;
}
.selectStatistics {
  border: 1px solid #fcfcfc;
  border-radius: 8px;
  padding: 10px 14px;
  width: 187px;
  height: 44px;
  background-color: transparent;
  font-weight: 500;
  font-size: 18px;
  color: #fcfcfc;
}
.tableStatistics {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 21px;
}
.theadStatistics {
  border-radius: 8px;
  background: linear-gradient(180deg, #294045 0%, #1e2f33 100%);
  color: #fcfcfc;
}
.thStatistics {
  border-radius: 8px;
  padding: 16px 28px;
}
.tdStatistics {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  color: #fcfcfc;
  align-items: center;
}
.trStatistics::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #fcfcfc;
}
.trStatistics {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.tbodyStatistics {
  display: flex;
  flex-direction: column;
  gap: 29px;
  padding-right: 29px;
  padding-left: 20px;
}
.tfootStatistics {
  display: flex;
  justify-content: space-between;
  padding-right: 29px;
  padding-left: 29px;
}
