.wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.titles {
    display: none;

}




.wrapperTransactions {
    display: flex;
    flex-direction: column;
    gap: 16px;
}


@media screen and (min-width: 768px) {
    .wrapper {
        border-radius: 16px;
        padding: 32px 16px;
        max-width: 704px;
        height: 538px;
        background-image: var(--primary-gradient);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .titles {
        display: flex;

        font-family: "Poppins", sans-serif;
        display: flex;
        flex-direction: row;
        color: var(--white-color);
        /* margin-bottom: 16px; */
        padding: 0 12px 0 0;
    }

    .date {
        margin-right: 57px;
    }

    .type {
        margin-right: 36px;
    }

    .category {
        margin-right: 40px;
    }

    .comment {
        margin-right: 58px;
    }
}

@media screen and (min-width: 1280px) {
    .wrapper {
        padding: 32px 18px 1px 27px;
        max-width: 757px;
        height: 585px;
    }

    .date {
        margin-right: 74px;
    }

    .type {
        margin-right: 55px;
    }

    .category {
        margin-right: 48px;
    }

    .comment {
        margin-right: 59px;
    }
}


.transactionsScroll {
    max-height: 415px;
    overflow-y: auto;
    padding-right: 8px;
    scroll-behavior: smooth;
}


.transactionsScroll::-webkit-scrollbar {
    width: 4px;
}

.transactionsScroll::-webkit-scrollbar-thumb {
    background-color: var(--main-light-green);
    border-radius: 4px;
}

.transactionsScroll::-webkit-scrollbar-track {
    background-image: linear-gradient(180deg, #294045 0%, #1e2f33 100%);
    border-radius: 64px;

}

.moreBtn {
    font-size: 16px;
    color: var(--white-color);
    margin: 0 auto;
    border: 1px solid var(--white-color);
    border-radius: 8px;
    padding: 8px 32px;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.moreBtn:hover {
    transform: scale(1.04);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
}

.noneTransText {
    display: flex;
    width: 756px;
    align-items: center;
    justify-content: center;
    color: #fcfcfc;
    font-weight: 400;
    font-size: 18px;
}

.loaderWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1279px) {
    .moreBtn {
        font-size: 18px;
        font-weight: 500;
        padding: 11px 68px;
    }

    .noneTransText {
        width: 706px;
    }
}

@media screen and (max-width: 767px) {
    .noneTransText {
        text-align: center;
        width: 288px;
        font-weight: 400;
        font-size: 16px;
    }
}
