.wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.titles {
    display: none;
    font-family: "Poppins", sans-serif;
    flex-direction: row;
    color: var(--white-color);
    padding: 0 12px 0 0;
}

.wrapperTransactions {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.transactionsScroll {
    flex: 1;
    height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.transactionsScroll::-webkit-scrollbar {
    width: 4px;
}

.transactionsScroll::-webkit-scrollbar-thumb {
    background-color: var(--main-light-green);
    border-radius: 4px;
}

.transactionsScroll::-webkit-scrollbar-track {
    background-image: linear-gradient(180deg, #294045 0%, #1e2f33 100%);
    border-radius: 64px;
}

.moreBtn {
    font-size: 16px;
    font-weight: 500;
    color: var(--white-color);
    background-color: transparent;
    border: 1px solid var(--white-color);
    border-radius: 8px;
    padding: 8px 32px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.moreBtn:hover {
    transform: scale(1.04);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.noneTransText {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fcfcfc;
    font-weight: 400;
    text-align: center;
    font-size: 16px;
    width: 288px;
    margin: 0 auto;
}

.loaderWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .wrapper {
        border-radius: 16px;
        padding: 32px 16px;
        max-width: 704px;
        height: 538px;
        background-image: var(--primary-gradient);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .titles {
        display: flex;
        
    }

    .noneTransText {
        width: 706px;
        font-size: 18px;
    }

    .moreBtn {
        font-size: 18px;
        padding: 11px 68px;
        margin-bottom: 0;
    }

    .date {
        margin-left: 20px;
        margin-right: 60px;
    }

    .type {
        margin-right: 58px;
    }

    .category {
        margin-right: 44px;
    }

    .comment {
        margin-right: 50px;
    }
}

@media screen and (min-width: 1280px) {
    .wrapper {
        padding: 32px 18px 1px 27px;
        max-width: 757px;
        height: 585px;
    }

    .date {
        margin-right: 63px;
    }

    .type {
        margin-right: 63px;
    }

    .category {
        margin-right: 50px;
    }

    .comment {
        margin-right: 63px;
    }

    .noneTransText {
        width: 756px;
    }

    .moreBtn {
        margin-bottom: 16px;
    }
}